<form action ='/new' method = 'post'>
    <h3>title : <input type = 'text' name = 'title'></h3>
    <h3>content :</h3> <textarea name = 'content'></textarea>
    <br><br>
    <input type = 'submit' value = '글쓰기!'>
    
</form>
    